<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash;<button id="btn" onclick="getData()">click</button>&ndash;&gt;-->
<!--<div>-->
    <!--<ul>-->
        <!--<li  th:each="user:${users}">-->
            <!--<span th:text="${user.id}"></span>- -->
            <!--<span th:text="${user.name}"></span>- -->
            <!--<span th:text="${user.age}"></span>- -->
            <!--<span th:text="${user.address}"></span>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->

<!--&lt;!&ndash;<h2>验证实例</h2>&ndash;&gt;-->


<!--&lt;!&ndash;<script>&ndash;&gt;-->

    <!--&lt;!&ndash;function getData(){&ndash;&gt;-->
        <!--&lt;!&ndash;http.get("/user/angularjs.html")&ndash;&gt;-->
            <!--&lt;!&ndash;.then(function successCallback(response) {&ndash;&gt;-->
                <!--&lt;!&ndash;// $scope.users = response.data;&ndash;&gt;-->
            <!--&lt;!&ndash;}, function errorCallback(response) {&ndash;&gt;-->
                <!--&lt;!&ndash;// 请求失败执行代码&ndash;&gt;-->
            <!--&lt;!&ndash;});&ndash;&gt;-->
        <!--&lt;!&ndash;alert('hello');&ndash;&gt;-->
    <!--&lt;!&ndash;}&ndash;&gt;-->

<!--&lt;!&ndash;</script>&ndash;&gt;-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
</head>
<body>
<h2>用户列表</h2>

<div>
    <ul>
        <li  th:each="user:${users}">
            <span th:text="${user.id}"></span>-
            <span th:text="${user.name}"></span>-
            <span th:text="${user.age}"></span>-
            <span th:text="${user.address}"></span>
        </li>
    </ul>
</div>

<button id="btn" onclick="getData()">click</button>
<script>

function getData(){

    $http({
        method: 'POST',
        url: '/user/angularjs'
    }).then(function successCallback(response) {
        // 请求成功执行代码
    }, function errorCallback(response) {
        // 请求失败执行代码
    });

alert('hello');
}

</script>
</body>
</html>